In [2]:
from neostats import ort, stats, uni
import numpy as np

# 0 • CONFIG •

In [6]:
########## 12. Statistics

rf = ['Mammalia', 'Sauropsida', 'Actinopteri']             # select a reference classes list, None if you don't want to choose one           
rs = ['Homo_sapiens', 'Gallus_gallus', 'Danio_rerio']      # select a reference species list
du = ['tandem', 'convergent', 'divergent']

# Orthologues accessions

In [3]:
ort.whichdup('ENSP00000256999')                         # Return duplication kind for a given ID

'Tandem'

In [4]:
ort.dataframe('ENSGALP00000072350')                        # Return given accession containing dataframe

                                                          0A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            NaN
                           Betta_splendens               NaN
            Beloniformes   Oryzias_latipes               NaN
            Blenniiformes  Gouania_willdenowi            NaN
                           Salarias_fasciatus            NaN
...                                                      ...
Sauropsida  Testudines     Gopherus_agassizii            NaN
                           Pelodiscus_sinensis           NaN
                           Pelusios_castaneus            NaN
                           Terrapene_carolina_triunguis  NaN
            Tinamiformes   Nothoprocta_perdicaria        NaN

                                                                         0B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000010433
                           Betta_splendens               ENSBSLP00000049808
            Beloniformes   Oryzias_latipes               ENSORLP00000022912
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000010052
                           Salarias_fasciatus            ENSSFAP00005052284
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000032669
                           Pelodiscus_sinensis           ENSPSIP00000004165
                           Pelusios_castaneus            ENSPCEP00000004116
                           Terrapene_carolina_triunguis  ENSTMTP00000031552
            Tinamiformes   Nothoprocta_perdicaria        ENSNPEP00000008724

                                                                         1A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000011421
                           Betta_splendens               ENSBSLP00000036647
            Beloniformes   Oryzias_latipes               ENSORLP00000037782
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000042079
                           Salarias_fasciatus            ENSSFAP00005039658
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000002463
                           Pelodiscus_sinensis           ENSPSIP00000017723
                           Pelusios_castaneus            ENSPCEP00000016745
                           Terrapene_carolina_triunguis                 NaN
            Tinamiformes   Nothoprocta_perdicaria        ENSNPEP00000013660

                                                                         1B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000026918
                           Betta_splendens               ENSBSLP00000013895
            Beloniformes   Oryzias_latipes               ENSORLP00000007185
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000052479
                           Salarias_fasciatus            ENSSFAP00005007557
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000015760
                           Pelodiscus_sinensis           ENSPSIP00000008342
                           Pelusios_castaneus            ENSPCEP00000021009
                           Terrapene_carolina_triunguis  ENSTMTP00000023774
            Tinamiformes   Nothoprocta_perdicaria        ENSNPEP00000006243

                                                                         2A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus                           NaN
                           Betta_splendens                              NaN
            Beloniformes   Oryzias_latipes               ENSORLP00000045928
            Blenniiformes  Gouania_willdenowi                           NaN
                           Salarias_fasciatus                           NaN
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii                           NaN
                           Pelodiscus_sinensis                          NaN
                           Pelusios_castaneus                           NaN
                           Terrapene_carolina_triunguis                 NaN
            Tinamiformes   Nothoprocta_perdicaria                       NaN

                                                                         2B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000025936
                           Betta_splendens               ENSBSLP00000019183
            Beloniformes   Oryzias_latipes               ENSORLP00000034755
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000054609
                           Salarias_fasciatus            ENSSFAP00005037587
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii                           NaN
                           Pelodiscus_sinensis                          NaN
                           Pelusios_castaneus                           NaN
                           Terrapene_carolina_triunguis                 NaN
            Tinamiformes   Nothoprocta_perdicaria                       NaN

                                                          3A   3B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            NaN  NaN
                           Betta_splendens               NaN  NaN
            Beloniformes   Oryzias_latipes               NaN  NaN
            Blenniiformes  Gouania_willdenowi            NaN  NaN
                           Salarias_fasciatus            NaN  NaN
...                                                      ...  ...
Sauropsida  Testudines     Gopherus_agassizii            NaN  NaN
                           Pelodiscus_sinensis           NaN  NaN
                           Pelusios_castaneus            NaN  NaN
                           Terrapene_carolina_triunguis  NaN  NaN
            Tinamiformes   Nothoprocta_perdicaria        NaN  NaN

                                                                         4A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus                           NaN
                           Betta_splendens                              NaN
            Beloniformes   Oryzias_latipes               ENSORLP00000002323
            Blenniiformes  Gouania_willdenowi                           NaN
                           Salarias_fasciatus                           NaN
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000034764
                           Pelodiscus_sinensis                          NaN
                           Pelusios_castaneus            ENSPCEP00000015691
                           Terrapene_carolina_triunguis  ENSTMTP00000030499
            Tinamiformes   Nothoprocta_perdicaria                       NaN

                                                          4B  ...  \
Classes     Orders         Species                            ...
Actinopteri Anabantiformes Anabas_testudineus            NaN  ...
                           Betta_splendens               NaN  ...
            Beloniformes   Oryzias_latipes               NaN  ...
            Blenniiformes  Gouania_willdenowi            NaN  ...
                           Salarias_fasciatus            NaN  ...
...                                                      ...  ...
Sauropsida  Testudines     Gopherus_agassizii            NaN  ...
                           Pelodiscus_sinensis           NaN  ...
                           Pelusios_castaneus            NaN  ...
                           Terrapene_carolina_triunguis  NaN  ...
            Tinamiformes   Nothoprocta_perdicaria        NaN  ...

                                                                       982A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000031779
                           Betta_splendens               ENSBSLP00000000958
            Beloniformes   Oryzias_latipes               ENSORLP00000001643
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000010024
                           Salarias_fasciatus            ENSSFAP00005047708
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii                           NaN
                           Pelodiscus_sinensis                          NaN
                           Pelusios_castaneus                           NaN
                           Terrapene_carolina_triunguis                 NaN
            Tinamiformes   Nothoprocta_perdicaria                       NaN

                                                                       982B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000031806
                           Betta_splendens               ENSBSLP00000000940
            Beloniformes   Oryzias_latipes               ENSORLP00000038989
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000010029
                           Salarias_fasciatus            ENSSFAP00005047718
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000003994
                           Pelodiscus_sinensis           ENSPSIP00000010788
                           Pelusios_castaneus            ENSPCEP00000009535
                           Terrapene_carolina_triunguis  ENSTMTP00000026744
            Tinamiformes   Nothoprocta_perdicaria        ENSNPEP00000021207

                                                        983A 983B 984A 984B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            NaN  NaN  NaN  NaN
                           Betta_splendens               NaN  NaN  NaN  NaN
            Beloniformes   Oryzias_latipes               NaN  NaN  NaN  NaN
            Blenniiformes  Gouania_willdenowi            NaN  NaN  NaN  NaN
                           Salarias_fasciatus            NaN  NaN  NaN  NaN
...                                                      ...  ...  ...  ...
Sauropsida  Testudines     Gopherus_agassizii            NaN  NaN  NaN  NaN
                           Pelodiscus_sinensis           NaN  NaN  NaN  NaN
                           Pelusios_castaneus            NaN  NaN  NaN  NaN
                           Terrapene_carolina_triunguis  NaN  NaN  NaN  NaN
            Tinamiformes   Nothoprocta_perdicaria        NaN  NaN  NaN  NaN

                                                                       985A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000005563
                           Betta_splendens               ENSBSLP00000037416
            Beloniformes   Oryzias_latipes               ENSORLP00000013968
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000052240
                           Salarias_fasciatus                           NaN
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000004118
                           Pelodiscus_sinensis           ENSPSIP00000017605
                           Pelusios_castaneus            ENSPCEP00000015385
                           Terrapene_carolina_triunguis  ENSTMTP00000000781
            Tinamiformes   Nothoprocta_perdicaria                       NaN

                                                        985B  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            NaN
                           Betta_splendens               NaN
            Beloniformes   Oryzias_latipes               NaN
            Blenniiformes  Gouania_willdenowi            NaN
                           Salarias_fasciatus            NaN
...                                                      ...
Sauropsida  Testudines     Gopherus_agassizii            NaN
                           Pelodiscus_sinensis           NaN
                           Pelusios_castaneus            NaN
                           Terrapene_carolina_triunguis  NaN
            Tinamiformes   Nothoprocta_perdicaria        NaN

                                                                       986A  \
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus                           NaN
                           Betta_splendens                              NaN
            Beloniformes   Oryzias_latipes                              NaN
            Blenniiformes  Gouania_willdenowi                           NaN
                           Salarias_fasciatus                           NaN
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii            ENSGAGP00000027308
                           Pelodiscus_sinensis           ENSPSIP00000004610
                           Pelusios_castaneus            ENSPCEP00000007761
                           Terrapene_carolina_triunguis                 NaN
            Tinamiformes   Nothoprocta_perdicaria                       NaN

                                                                       986B
Classes     Orders         Species
Actinopteri Anabantiformes Anabas_testudineus            ENSATEP00000014120
                           Betta_splendens               ENSBSLP00000026647
            Beloniformes   Oryzias_latipes               ENSORLP00000025592
            Blenniiformes  Gouania_willdenowi            ENSGWIP00000014315
                           Salarias_fasciatus            ENSSFAP00005047481
...                                                                     ...
Sauropsida  Testudines     Gopherus_agassizii                           NaN
                           Pelodiscus_sinensis                          NaN
                           Pelusios_castaneus                           NaN
                           Terrapene_carolina_triunguis                 NaN
            Tinamiformes   Nothoprocta_perdicaria                       NaN

[168 rows x 1974 columns]

In [4]:
ort.pairs('ENSP00000256999')                            # Return pairs orthologues accession for a given ID

['400A', '400B']

In [9]:
ort.orthodict('ENSGALP00000072350', rf, False)             # Return a columns containing dictionary, False if you don't want to include nan

{'Mammalia': [{'A': [nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan]},
  {'B': ['ENSBBBP00000020804',
    'ENSBTAP00000063539',
    'ENSCDRP00005017821',
    'ENSCHIP00000007198',
    'ENSCWAP00000023166',
    'ENSDLEP00000029441',
    'ENSMMSP00000014344',
    'ENSOARP00000011930',
    'ENSPCTP00005016882',
    'ENSSSCP00000046337',
    'ENSTTRP00000009428',
    nan,
    'ENSAMEP00000001858',
    'ENSCAFP00000040348',
    'ENSFCAP00000059302',
    'ENSLCNP00005011403',
    'ENSMPUP00000009613',
    'ENSNVIP00000007909',
    'ENSPLOP00000022561',
    'ENSSSUP00005002618',
    'ENSUMAP00000035515',
    'ENSVVUP00000023395',
    'ENSMLUP00000010840',
    'ENSPVAP00000010600',
    'ENSRFEP00010000212',
    'ENSDNOP00000011926',
    'ENSSHAP00000020158',
    'ENSMODP00000026297',
    'ENSMEUP00000007329',
    'ENSPCIP00000038165',
    'ENSVURP00010030436',
    nan,
    nan,
    'ENSPCAP00000009021',
    'ENSOPRP00000004547',
    'ENSOCUP00000034549',
    'ENSOANP00000040484',
    'ENSECAP00000020500',
    nan,
    'ENSCJAP00000029170',
    'ENSCATP00000029508',
    'ENSCSAP00000004297',
    'ENSGGOP00000018048',
    'ENSP00000381231',
    'ENSMMUP00000065610',
    'ENSMLEP00000035743',
    'ENSMICP00000044325',
    'ENSPTRP00000024013',
    'ENSPANP00000012853',
    'ENSPPYP00000012878',
    'ENSTGEP00000025463',
    'ENSLAFP00000008333',
    'ENSCCNP00000021088',
    'ENSCPOP00000007040',
    'ENSCLAP00000017728',
    'ENSDORP00000000191',
    'ENSSTOP00000026773',
    'ENSMUGP00000008897',
    'ENSMAUP00000023966',
    'ENSMOCP00000010559',
    'ENSMUSP00000158269',
    'ENSODEP00000017622',
    'ENSPEMP00000025259',
    'ENSRNOP00000039968',
    nan]}],
 'Sauropsida': [{'A': ['ENSANIP00000020259',
    'ENSACCP00020011586',
    'ENSAPLP00020000921',
    nan,
    'ENSAOWP00000021365',
    'ENSDNVP00000009064',
    'ENSCPUP00000017798',
    'ENSCPRP00005023631',
    nan,
    'ENSCJPP00005009957',
    'ENSGALP00000026056',
    nan,
    'ENSNMEP00000014554',
    'ENSPSTP00000001130',
    'ENSPCLP00000008561',
    'ENSCPVP00000004096',
    'ENSCCEP00000018765',
    'ENSEGOP00005008571',
    'ENSFALP00000002065',
    'ENSGFOP00000021906',
    'ENSJHYP00000018001',
    'ENSLSDP00000022233',
    'ENSMVIP00005009213',
    'ENSPMJP00000014125',
    'ENSSCAP00000015263',
    'ENSTGUP00000005939',
    'ENSZALP00000002179',
    'ENSACOP00000011163',
    'ENSMUNP00000011563',
    'ENSSHBP00005023089',
    nan,
    'ENSACAP00000002508',
    'ENSLLTP00000021252',
    'ENSNSUP00000009778',
    'ENSPMRP00000034240',
    'ENSPVIP00000027376',
    'ENSPTXP00000015326',
    'ENSSMRP00000029804',
    'ENSVKKP00000020727',
    'ENSACUP00000019718',
    'ENSSCUP00000016472',
    'ENSCABP00000014565',
    'ENSCSRP00000023361',
    'ENSCPBP00000017703',
    'ENSGAGP00000010102',
    'ENSPSIP00000020487',
    'ENSPCEP00000020055',
    'ENSTMTP00000018667',
    'ENSNPEP00000012734']},
  {'B': ['ENSANIP00000020313',
    'ENSACCP00020011603',
    'ENSAPLP00020000776',
    'ENSACDP00005007426',
    'ENSAOWP00000021547',
    'ENSDNVP00000009138',
    'ENSCPUP00000017781',
    'ENSCPRP00005023638',
    'ENSCPIP00010000483',
    'ENSCJPP00005009965',
    'ENSGALP00000072350',
    'ENSMGAP00000015449',
    'ENSNMEP00000014585',
    'ENSPSTP00000001225',
    'ENSPCLP00000008539',
    'ENSCPVP00000004298',
    'ENSCCEP00000018762',
    'ENSEGOP00005008582',
    'ENSFALP00000002073',
    'ENSGFOP00000021898',
    'ENSJHYP00000017970',
    'ENSLSDP00000022237',
    'ENSMVIP00005009217',
    'ENSPMJP00000014127',
    'ENSSCAP00000015275',
    'ENSTGUP00000028206',
    'ENSZALP00000002182',
    'ENSACOP00000011025',
    'ENSMUNP00000011565',
    'ENSSHBP00005000442',
    'ENSSPUP00000023046',
    'ENSACAP00000017559',
    nan,
    'ENSNSUP00000009780',
    'ENSPMRP00000034255',
    'ENSPVIP00000026904',
    'ENSPTXP00000015346',
    'ENSSMRP00000029802',
    'ENSVKKP00000020725',
    'ENSACUP00000019697',
    'ENSSCUP00000016482',
    'ENSCABP00000014566',
    'ENSCSRP00000023213',
    'ENSCPBP00000017708',
    'ENSGAGP00000010113',
    'ENSPSIP00000020507',
    'ENSPCEP00000017166',
    'ENSTMTP00000028167',
    'ENSNPEP00000012752']}],
 'Actinopteri': [{'A': [nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan,
    nan]},
  {'B': ['ENSATEP00000025808',
    'ENSBSLP00000005791',
    'ENSORLP00000043520',
    'ENSGWIP00000028242',
    'ENSSFAP00005044483',
    'ENSENLP00000042797',
    'ENSSDUP00000007083',
    'ENSAMXP00000038555',
    'ENSPNAP00000031038',
    'ENSACIP00000021746',
    'ENSACLP00000036629',
    'ENSHBUP00000022337',
    'ENSMZEP00005023738',
    'ENSNBRP00000004782',
    'ENSONIP00000002371',
    'ENSPNYP00000030494',
    'ENSCHAP00000001925',
    'ENSDCDP00000032851',
    'ENSCARP00000001513',
    nan,
    'ENSDARP00000053931',
    'ENSSGRP00000093958',
    'ENSCVAP00000012842',
    'ENSFHEP00000031576',
    'ENSGAFP00000027825',
    'ENSKMAP00000000929',
    'ENSPREP00000019222',
    'ENSXMAP00000008170',
    'ENSELUP00000038996',
    'ENSGMOP00000010295',
    'ENSNMLP00000039735',
    'ENSPMGP00000001273',
    'ENSEEEP00000037895',
    'ENSMMDP00005009002',
    'ENSSORP00005044433',
    'ENSLBEP00000033146',
    'ENSPKIP00000027283',
    'ENSSFOP00015066727',
    'ENSCGOP00000048488',
    'ENSGACP00000019314',
    'ENSCSEP00000001668',
    'ENSSMAP00000022713',
    'ENSHHUP00000008603',
    'ENSOTSP00005012095',
    'ENSSTUP00000077517',
    'ENSLOCP00000001396',
    'ENSIPUP00000020561',
    'ENSSAUP00010048962',
    'ENSMAMP00000032707',
    'ENSMALP00000022611',
    'ENSHCOP00000020193',
    'ENSMMOP00000013420',
    'ENSTRUP00000035065',
    'ENSTNIP00000011140']}]}

In [10]:
ort.isclass('ENSGALP00000072350', 'Mammalia')              # Check the taxonomy class for a given ID

False

In [10]:
ort.whereisdup('ENSP00000256999', rf, 15)             # Check in which classes a given ID is duplicated, the float is the column populousness threshold

'Have not accessions'

In [ ]:
# meglio non usare il linguaggio naturale

# Orthologues dataframe

In [15]:
stats.ts()                                                 # orders per each class

0 Actinopteri Mammalia Sauropsida
1          54       65         49

In [16]:
stats.mi('Homo_sapiens')                                   # main isoforms count

19909

In [17]:
stats.ai('Homo_sapiens')                                   # all isoforms count

110288

In [20]:
stats.tc('Homo_sapiens', 'divergent')                         # duplicated genes count per duplication kind

134

In [24]:
stats.tcdf(rs, du).applymap(lambda x: int(x/2))

               tandem  convergent  divergent
Homo_sapiens      387          55         67
Gallus_gallus     224          30         31
Danio_rerio       502          15         23

In [22]:
#stats.wherdup('Tandem', rf, 0.15)
stats.whichdup('Tandem', rf, 0.15)                         # duplication events

                                      Tandem
Total Mammalia                           417
Total Actinopteri                        301
Total Sauropsida                         296
Only Mammalia                            248
Have not accessions                      246
Only Actinopteri                         158
Only Sauropsida                          124
Mammalia and Sauropsida                   68
Mammalia, Sauropsida and Actinopteri      62
Sauropsida and Actinopteri                42
Mammalia and Actinopteri                  39

In [25]:
aim = stats.aim(rs).reset_index()                          # Main isoforms count
tcdf = stats.tcdf(rs, du).reset_index()                    # Duplicated genes count
qc = stats.bc(rs).T                                        # query / subjects ratio
qc['blast ratios'] = qc['subjects'] / qc['queries']

df = stats.allinfo(aim, tcdf).join(qc)
df

,main,all,% main,tandem,convergent,divergent,% tandem,% convergent,% divergent,queries,subjects,blast ratios
Homo_sapiens,19909,110288,18.051828,774,110,134,3.887689,0.552514,0.673062,16017,52584,3.283012
Gallus_gallus,16383,28345,57.798554,448,60,62,2.734542,0.366233,0.378441,13128,42472,3.235222
Danio_rerio,23415,51919,45.099097,1004,30,46,4.287850,0.128123,0.196455,21475,74277,3.458766

In [27]:
stats.alldups(0.15, rf)                                    # All duplication events

                                      Tandem  Convergent  Divergent
Total Mammalia                           417          57         67
Total Actinopteri                        301          22         28
Total Sauropsida                         296          39         34
Only Mammalia                            248          33         35
Have not accessions                      246           9         24
Only Actinopteri                         158           5          9
Only Sauropsida                          124          15         10
Mammalia and Sauropsida                   68          12         14
Mammalia, Sauropsida and Actinopteri      62           7          9
Sauropsida and Actinopteri                42           5          1
Mammalia and Actinopteri                  39           5          9

In [29]:
stats.outofmean('Tandem', 1000)                             # Return sequence lenghts outliers --> max-min/max

Outofmean
False    983
True       4
Name: AB, dtype: int64

riprendi quello degli allineamenti (coverage)

prova tutto con altro pesce

età duplicazione e orientamento duplicazione

# Uniprot features

In [30]:
# number of positions
len(uni.all_scores('Divergent', 1))

1130

In [31]:
# scores median
np.median(np.array(uni.all_scores('Divergent', 1)))

1.34

In [32]:
# scores percentile
np.quantile(np.array(uni.all_scores('Tandem', 0)), 0.90)

1.18

In [54]:
df = uni.filtdf('Convergent', 1)

In [58]:
df[df['type'] == 'MUTAGEN'].head(50)

,orthogroup,accession,ensembl_accession,gene,full_protein_name,full_name_ensembl,full_name_ensembl_partner,type,category,description,begin,end,position_found,score,residue_A,residue_B,alignment_A,alignment_B,EC_number
228,12A,Q8NI17,ENSP00000498630,IL31RA,Interleukin-31 receptor subunit alpha,interleukin 31 receptor A,interleukin 6 signal transducer,MUTAGEN,MUTAGENESIS,No effect on STAT1 and STAT3 activation. Sligh...,670.0,670.0,671.0,1.10,Y,S,Y-YYYYYYYY-YYYYYYYYYYY-YYHYYYY-YSYYYYYYYYYLYYY...,SSSSSSSSS--SSSSSSSXSSS-SS-SCSCSSSSSSSSSSSSSSSS...,NaN
229,12A,Q8NI17,ENSP00000498630,IL31RA,Interleukin-31 receptor subunit alpha,interleukin 31 receptor A,interleukin 6 signal transducer,MUTAGEN,MUTAGENESIS,No effect on STAT3 and STAT5 activation. Mild ...,670.0,670.0,671.0,1.10,Y,S,Y-YYYYYYYY-YYYYYYYYYYY-YYHYYYY-YSYYYYYYYYYLYYY...,SSSSSSSSS--SSSSSSSXSSS-SS-SCSCSSSSSSSSSSSSSSSS...,NaN
261,12B,P40189,ENSP00000370698,IL6ST,Interleukin-6 receptor subunit beta,interleukin 6 signal transducer,interleukin 31 receptor A,MUTAGEN,MUTAGENESIS,Induces ligand-independent activation.,172.0,172.0,171.0,1.39,M,I,MMMMMMMMMMMMMMMMMMMMMMMMMMSMMMSMMMMMMMMMMMSMMT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII-IIIII...,NaN
416,16A,Q16552,ENSP00000497968,IL17A,Interleukin-17A,interleukin 17A,interleukin 17F,MUTAGEN,MUTAGENESIS,Decreases the affinity for IL17RA by 5-fold.,78.0,78.0,78.0,1.38,R,X,RRPRRRRQRRRRPRRLRRRRRRRRRRRRRRRRRRRPPRRRRRRRRR...,VIIIIIIIIIIVIVIFIIIIIIXVIIIIVIVIIIVIIIIIEVNIII...,NaN
417,16A,Q16552,ENSP00000497968,IL17A,Interleukin-17A,interleukin 17A,interleukin 17F,MUTAGEN,MUTAGENESIS,Decreases the affinity for IL17RA by 5-fold.,78.0,78.0,79.0,1.69,N,T,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNTNNNNNN...,TTTTTTTTTTSTTTTMTTTTTTXSTTTTTTTTTTTTTTTTTTSTTT...,NaN
426,16B,Q96PD4,ENSP00000337432,IL17F,Interleukin-17F,interleukin 17F,interleukin 17A,MUTAGEN,MUTAGENESIS,Significantly decreases the affinity for IL17R...,77.0,77.0,78.0,1.38,R,X,RRPRRRRQRRRRPRRLRRRRRRRRRRRRRRRRRRRPPRRRRRRRRR...,VIIIIIIIIIIVIVIFIIIIIIXVIIIIVIVIIIVIIIIIEVNIII...,NaN
725,48B,P27338,ENSP00000367309,MAOB,Amine oxidase [flavin-containing] B,monoamine oxidase B,monoamine oxidase A,MUTAGEN,MUTAGENESIS,No loss of activity.,172.0,172.0,173.0,1.02,F,L,FFFFFFFFFFFFFXXFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,LLLXLLLLLFLILLLLLLLLLLLIXL-LLLLLLLLLLLLLLLELLL...,1.4.3.4
726,48B,P27338,ENSP00000367309,MAOB,Amine oxidase [flavin-containing] B,monoamine oxidase B,monoamine oxidase A,MUTAGEN,MUTAGENESIS,No loss of activity.,297.0,297.0,296.0,1.31,Q,T,QQQQQQQQ-QQXQQQQQQQQQQQQIQQQQQQQQQQQQQQQQQ-QQQ...,TTTSTTTTTSSTTTSSGTTTTNTSXT-TTTTTSTTTTTTTTTQTTS...,1.4.3.4
727,48B,P27338,ENSP00000367309,MAOB,Amine oxidase [flavin-containing] B,monoamine oxidase B,monoamine oxidase A,MUTAGEN,MUTAGENESIS,No loss of activity.,312.0,312.0,313.0,1.10,A,P,AAAAAAAA-AAXAAAAAAAAAAAAXAAAAAAAAAAAAAAAAA-SAA...,PPPXPPPPPPPPPPPPAPPPPPPPXP-PPPPPPPPPPPPPPPAPPP...,1.4.3.4
728,48B,P27338,ENSP00000367309,MAOB,Amine oxidase [flavin-containing] B,monoamine oxidase B,monoamine oxidase A,MUTAGEN,MUTAGENESIS,Complete loss of activity.,365.0,365.0,365.0,1.66,H,T,HTNHXHSH-HQHHHHHHQHHHHHAQHHHHHHHHSHHHHHHHH-THX...,TLTTTTTTTTTTTTTTTTTTTXTTTT-TTTTTSTTTTTT-TTDTKT...,1.4.3.4

In [52]:
# all features count
df = uni.allfeat(None).fillna(0)
# mettere niente come argomento per il default?
# aggiungere argomento range (+1-1)
df['Sum'] = df['Tandem'] + df['Convergent'] + df['Divergent']
df.astype(int)
# prova tabella finale con "duplication" e "unique gene"

,Tandem,Unique_tandem,Convergent,Unique_convergent,Divergent,Unique_divergent,Sum
ACT_SITE,10.0,10.0,0.0,0.0,2.0,2.0,12.0
BINDING,16.0,11.0,1.0,1.0,6.0,4.0,23.0
CARBOHYD,150.0,83.0,32.0,17.0,9.0,6.0,191.0
CA_BIND,4.0,2.0,0.0,0.0,1.0,1.0,5.0
CHAIN,83.0,63.0,9.0,9.0,16.0,13.0,108.0
COILED,6.0,4.0,0.0,0.0,1.0,1.0,7.0
COMPBIAS,23.0,14.0,3.0,3.0,6.0,3.0,32.0
CONFLICT,133.0,70.0,6.0,6.0,18.0,9.0,157.0
CROSSLNK,23.0,8.0,0.0,0.0,13.0,6.0,36.0
DISULFID,164.0,83.0,76.0,22.0,3.0,2.0,243.0
DNA_BIND,2.0,1.0,0.0,0.0,3.0,2.0,5.0
DOMAIN,156.0,76.0,43.0,13.0,29.0,14.0,228.0
INIT_MET,1.0,1.0,0.0,0.0,2.0,2.0,3.0
LIPID,3.0,2.0,0.0,0.0,0.0,0.0,3.0
METAL,37.0,22.0,2.0,2.0,8.0,4.0,47.0
MOD_RES,92.0,41.0,17.0,6.0,29.0,12.0,138.0
MOTIF,18.0,8.0,2.0,2.0,3.0,2.0,23.0
MUTAGEN,101.0,42.0,10.0,5.0,6.0,3.0,117.0
NON_TER,1.0,1.0,0.0,0.0,0.0,0.0,1.0
NP_BIND,4.0,4.0,0.0,0.0,1.0,1.0,5.0
PROPEP,8.0,7.0,7.0,4.0,1.0,1.0,16.0
REGION,78.0,36.0,9.0,5.0,10.0,6.0,97.0
REPEAT,101.0,28.0,11.0,5.0,10.0,5.0,122.0
SIGNAL,18.0,12.0,4.0,4.0,1.0,1.0,23.0
SITE,17.0,9.0,3.0,2.0,1.0,1.0,21.0
VARIANT,328.0,126.0,40.0,25.0,62.0,22.0,430.0
VAR_SEQ,98.0,52.0,35.0,13.0,32.0,17.0,165.0
ZN_FING,70.0,20.0,0.0,0.0,12.0,6.0,82.0
PEPTIDE,0.0,0.0,1.0,1.0,0.0,0.0,1.0
TRANSIT,0.0,0.0,0.0,0.0,1.0,1.0,1.0

In [ ]:
class ort:
    
    def whichdup(acc):

        def read(kind):
            path = cwd + '/orthologues/' + kind + '_orthologues.csv'
            return pd.read_table(path, sep=';')

        t = read('Tandem').isin([acc]).any()
        d = read('Divergent').isin([acc]).any()
        c = read('Convergent').isin([acc]).any()

        if any(t):
            return 'Tandem'
        elif any(d):
            return 'Divergent'
        elif any(c):
            return 'Convergent'
        else:
            return None

        #ort.whichdup('ENSGALP00000072350')
        
    def dataframe(acc):
        kind = ort.whichdup(acc)
        path = cwd + '/orthologues/' + kind + '_orthologues.csv'
        df = pd.read_table(path, sep=';')
        return df.set_index(['Classes', 'Orders', 'Species'])
        
        #ort.dataframe('ENSGALP00000072350')

    def pairs(acc):
        df = ort.dataframe(acc)
        p = df.columns[df.isin([acc]).any()][0]
        p_num = re.split('A|B', p)[0]

        if 'B' in p:
            pairs = [p_num + 'A', p]
        else:
            pairs = [p, p_num + 'B']

        return pairs

        #ort.pairs('ENSGALP00000072350')

    def ortholist(acc, ref_classes, includenone):
        df = ort.dataframe(acc)
        df = df.loc[ref_classes]
        df = df[ort.pairs(acc)].values.tolist()

        if not includenone:
            dfA = [l[0] for l in df 
                   if str(l[0]) != 'nan']
            dfB = [l[1] for l in df 
                   if str(l[1]) != 'nan']
        else:
            dfA = [l[0] for l in df]
            dfB = [l[1] for l in df]
            
        return [dfA, dfB]

        #ort.ortholist('ENSGALP00000072350', 'Sauropsida', False)

    def orthodict(acc, ref_classes, includenone):
        df = ort.dataframe(acc)
        c = {}
        for line in ref_classes:
            df2 = df[ort.pairs(acc)].loc[line].values.tolist()

            if not includenone:
                dfA = [l[0] for l in df2 
                       if str(l[0]) != 'nan']
                dfB = [l[1] for l in df2 
                       if str(l[1]) != 'nan']
            else:
                dfA = [l[0] for l in df2]
                dfB = [l[1] for l in df2]
            c.update({line: [{'A': dfA}, {'B': dfB}]})
        return c
    
        #ort.orthodict('ENSGALP00000072350', rf, True)

    def isclass(acc, cla):
        df = ort.dataframe(acc)
        df = df[ort.pairs(acc)].loc[cla]
        numna = len(df.values.tolist())
        num = len(df.iloc[:,0].dropna().tolist())
        if num > numna * 0.15:
            return True
        else:
            return False

        #ort.isclass('ENSGALP00000072350', 'Sauropsida')
        
    def whereisdup(ac, rf, t):

        path = cwd + '/orthologues/' + ort.whichdup(ac) + '_orthologues.csv'
        df = pd.read_table(path, sep=';')
        df = df.set_index(['Classes', 'Orders', 'Species'])

        m = df[ort.pairs(ac)].loc[rf[0]].count()
        s = df[ort.pairs(ac)].loc[rf[1]].count()
        a = df[ort.pairs(ac)].loc[rf[2]].count()

        tsa = len(df.loc[rf[0]].index.tolist())
        tsm = len(df.loc[rf[1]].index.tolist())
        tss = len(df.loc[rf[2]].index.tolist())

        if m.tolist()[0] > tsm*t and m.tolist()[1] > tsm*t:
            ma = rf[0]
        else:
            ma = None

        if s.tolist()[0] > tss*t and s.tolist()[1] > tss*t:
            sa = rf[1]
        else:
            sa = None

        if a.tolist()[0] > tsa*t and a.tolist()[1] > tsa*t:
            ac = rf[2]
        else:
            ac = None

        mat = {
                str(['Mammalia', None, None]): 'Only Mammalia',
                str([None, 'Sauropsida', None]): 'Only Sauropsida',
                str([None, None, 'Actinopteri']): 'Only Actinopteri',
                str(['Mammalia', 'Sauropsida', None]): 'Mammalia and Sauropsida',
                str(['Mammalia', None, 'Actinopteri']): 'Mammalia and Actinopteri',
                str([None, 'Sauropsida', 'Actinopteri']): 'Sauropsida and Actinopteri',
                str(['Mammalia', 'Sauropsida', 'Actinopteri']): 'Mammalia, Sauropsida and Actinopteri',
                str([None, None, None]): 'Have not accessions',
                }

        return mat.get(str([ma, sa, ac]))

        #ort.whereisdup('ENSGALP00000072350', rf, 0.15)

In [ ]:
class stats():

    # species classes count
    def ts():
        path = 'species_list.txt'
        s = pd.read_table(path, sep=' ', header=None)
        df = pd.DataFrame(s.groupby(0).count()[1]).reset_index().T
        df.columns = df.iloc[0]
        return df[1:]

        # stats.ts()

    # all isoforms count
    def ai(s):
        a = []
        path = cwd + '/fa/' + s + '.fa.gz'
        fa = SeqIO.parse(gzip.open(path, 'rt'), 'fasta')
        for fasta in fa:
            if 'gene_biotype:protein_coding' in fasta.description:
                a.append(fasta.id)
        return len(a)

        # stats.ai('Homo_sapiens')

    # main isoforms count
    def mi(s):
        path = cwd + '/main/' + s + '.tsv'
        df = pd.read_table(path, sep='\t')
        count = df['Protein_id'].count().tolist()
        return count

        # stats.mi('Homo_sapiens')
        
    # all and main isoforms ratio
    def aim(rs):
        mi = [stats.mi(x) for x in rs]
        ai = [stats.ai(x) for x in rs]
        index=['main', 'all']
        df = pd.DataFrame([mi, ai], index=index, columns=rs).T
        df['% main'] = df['main'] * 100 / df['all']
        return df
    
        # stats.aim('Homo_sapiens')

    # duplicated genes count
    def tc(s, k):
        path = cwd + '/tandem/' + s + '_' + k + '.tsv'
        df = pd.read_table(path, sep='\t', header=None)
        df = df.values.tolist()
        return len(df)*2
    
        # stats.tc('Homo_sapiens', 'tandem')
        
    def tcdf(rs, du):
        tcdf = {
                rs[0]: {
                    du[0]: stats.tc(rs[0], du[0]), 
                    du[1]: stats.tc(rs[0], du[1]), 
                    du[2]: stats.tc(rs[0], du[2]),
                    },
                rs[1]: {
                    du[0]: stats.tc(rs[1], du[0]), 
                    du[1]: stats.tc(rs[1], du[1]), 
                    du[2]: stats.tc(rs[1], du[2]),
                    },
                rs[2]: {
                    du[0]: stats.tc(rs[2], du[0]), 
                    du[1]: stats.tc(rs[2], du[1]), 
                    du[2]: stats.tc(rs[2], du[2]),
                    },
        }

        return pd.DataFrame(tcdf).T
    
        #stats.tcdf(rs, du)
        
    # return numbers and percentage about main species
    def allinfo(df1, df2):
        df = pd.merge(df1, df2, on='index')
        df['% tandem'] = df['tandem'] * 100 / df['main']
        df['% convergent'] = df['convergent'] * 100 / df['main']
        df['% divergent'] = df['divergent'] * 100 / df['main']
        df = df.set_index('index')
        df.index.name = None
        
        return df
    
        # stats.allinfo(stats.aim(rs).reset_index(), stats.tcdf(rs, du).reset_index())

    # blast comparisons count
    def bcf(specie):
        path = cwd + '/blast_queries/' + specie + '_main_blast.txt'
        x = pd.read_table(path, comment='#', header=None)
        x = x[x[2] != 100]
        q = x.drop_duplicates(0)[0].count().tolist()
        s = x[1].count().tolist()
        return [q, s]
    
    def bc(rs):
        df = pd.DataFrame({
        rs[0]: {'queries': stats.bcf(rs[0])[0], 
                'subjects': stats.bcf(rs[0])[1]},
        rs[1]: {'queries': stats.bcf(rs[1])[0], 
                'subjects': stats.bcf(rs[1])[1]},
        rs[2]: {'queries': stats.bcf(rs[2])[0], 
                'subjects': stats.bcf(rs[2])[1]}})
        return df

        #stats.bc(rs)
        
    def wherdup(kind, rf, threshold):

        def isdup(kind, c):
            path = cwd + '/orthologues/' + kind + '_orthologues.csv'
            df = pd.read_table(path, sep=';')
            df = df.set_index(['Classes', 'Orders', 'Species'])

            # total number of accessions
            it = itertools.chain.from_iterable(df.values.tolist())
            accessions = len([l for l in list(it) if not str(l) == 'nan'])

            # if both columns sum is > 20%
            df = df.applymap(lambda x: 1 if str(x) != 'nan' else 0).loc[c]
            df = df.reset_index().drop(columns=['Orders', 'Species']).T
            ts = int(df.columns.tolist()[-1])
            df['sum'] = df.sum(axis=1)
            df['Isdup'] = df['sum'].apply(lambda x: 1 if x > ts*threshold else 0) 

            def pairwise(iterable):
                "s -> (s0, s1), (s2, s3), (s4, s5), ..."
                a = iter(iterable)
                return zip(a, a)
            lp = list(pairwise(df.index))

            x = pd.DataFrame([df.loc[list(l)]['Isdup'].tolist() for l in lp])
            x['Isdup_' + c] = x.sum(axis=1)  
            x = x['Isdup_' + c].reset_index()

            return x

            #stats.isdup('Convergent', 'Actinopteri')

        df_list = []
        for x in range(len(rf)):
            df_list.append(isdup(kind, rf[x]))

        msa = reduce(lambda df1,df2: pd.merge(df1,df2,on='index'), df_list)
        msa = msa.drop(columns='index')

        return msa
    
        # stats.wherdup('Tandem', rf, 0.15)

    def whichdup(kind, rf, threshold):

        df = stats.wherdup(kind, rf, threshold)
        df['m'] = df['Isdup_Mammalia'].apply(lambda x: 'Mammalia' if x == 2 else None)
        df['s'] = df['Isdup_Sauropsida'].apply(lambda x: 'Sauropsida' if x == 2 else None)
        df['a'] = df['Isdup_Actinopteri'].apply(lambda x: 'Actinopteri' if x == 2 else None)
        df = df[['m', 's', 'a']]

        mat = {
                    str(['Mammalia', None, None]): 'Only Mammalia',
                    str([None, 'Sauropsida', None]): 'Only Sauropsida',
                    str([None, None, 'Actinopteri']): 'Only Actinopteri',
                    str(['Mammalia', 'Sauropsida', None]): 'Mammalia and Sauropsida',
                    str(['Mammalia', None, 'Actinopteri']): 'Mammalia and Actinopteri',
                    str([None, 'Sauropsida', 'Actinopteri']): 'Sauropsida and Actinopteri',
                    str(['Mammalia', 'Sauropsida', 'Actinopteri']): 'Mammalia, Sauropsida and Actinopteri',
                    str([None, None, None]): 'Have not accessions',
        }

        df['msa'] = df.values.tolist()
        df['which'] = df['msa'].apply(lambda x: mat.get(str(x)))
        df = pd.DataFrame(df['which'].value_counts().to_dict(), index=[kind])


        def addsum(df, k):
            classes = [l for l in df.columns.tolist() if k in l]
            df['Total ' + k] = df[classes].sum().sum()
            return df

        df = addsum(df, 'Mammalia')
        df = addsum(df, 'Sauropsida')
        df = addsum(df, 'Actinopteri')
        df = df.T.sort_values(kind, ascending=False)

        return df
    
        # stats.whichdup('Convergent', rf, 0.15)
    
    # All duplication events
    def alldups(t, rf):
        dfc = stats.whichdup('Convergent', rf, t).reset_index()
        dft = stats.whichdup('Tandem', rf, t).reset_index()
        dfd = stats.whichdup('Divergent', rf, t).reset_index()

        dftc = pd.merge(dft, dfc, on='index')
        df = pd.merge(dftc, dfd, on='index')
        df = df.set_index('index')
        df.index.name = None

        return df
    
        #stats.alldups(0.15, rf)

In [ ]:
class uni:

    def all_scores(kind, threshold):

        path = cwd + '/alignments/' + kind + '_alignments/'
        file = 'alignments.json'
        db = json.load(open(path + file))

        scores = []
        for l in db:
            pos = db[l]['Positions']
            for l1 in pos:
                s = pos[l1]['Score']
                if s > threshold:
                    scores.append(s)

        return scores
    
        #uni.all_scores('Convergent', 0)
    
    def filtdf(kind, threshold):

        # scrivo i range di posizioni che mi interessano (in questo caso -1 e +1 sia per begin che per end)
        df = pd.read_table(cwd + '/uniprot/' + kind + '_filtered_features.csv', sep=',').drop(columns='Unnamed: 0').reset_index()
        df['begin'] = df['begin'].apply(lambda x: None if '~' in str(x) else x)
        df['end'] = df['end'].apply(lambda x: None if '~' in str(x) else x)
        df['b+1'] = df['begin'].apply(lambda x: str(int(x)+1) if not x == None else x)
        df['b-1'] = df['begin'].apply(lambda x: str(int(x)-1) if not x == None else x)
        df['e+1'] = df['end'].apply(lambda x: str(int(x)+1) if not x == None else x)
        df['e-1'] = df['end'].apply(lambda x: str(int(x)-1) if not x == None else x)
        df['b+1'], df['b-1'] = df['b+1'].astype(float), df['b-1'].astype(float)
        df['e+1'], df['e-1'] = df['e+1'].astype(float), df['e-1'].astype(float)
        df['begin'], df['end'] = df['begin'].astype(float), df['end'].astype(float)

        uniprot_list = df[['ensembl_accession', 'index', 'begin', 'b+1', 'b-1', 'end', 'e+1', 'e-1']].values.tolist()

        positions = json.load(open(cwd + '/alignments/' + kind + '_alignments/alignments.json'))

        # confronto le posizioni trovate in uniprot con quelle trovate mediante allineamenti
        prova = []

        for group in positions:
            x = positions[group]
            acc_A, acc_B = x['Accessions'][0], x['Accessions'][1]

            for pos in x['Positions']:
                x2 = x['Positions'][pos]
                score = x['Positions'][pos]['Score']

                if score > threshold:
                    al_A, al_B = x2['alignment_A'], x2['alignment_B']
                    pos_A, pos_B = float(x2['Homo_position_A']), float(x2['Homo_position_B'])
                    res_A, res_B = x2['Homo_residue_A'], x2['homo_residue_B']

                    for line in uniprot_list:
                        accession = line[0]
                        index = line[1]
                        begin, begin_plus_one, begin_minus_one = line[2], line[3], line[4]
                        end, end_plus_one, end_minus_one = line[5], line[6], line[7]

                        if accession == acc_A:

                            if pos_A == begin or pos_A == begin_plus_one or pos_A == begin_minus_one or pos_A == end or pos_A == end_plus_one or pos_A == end_minus_one:
                                prova.append([acc_A, index, pos_A, res_A, res_B, al_A, al_B, score])
                            if pos_B == begin or pos_B == begin_plus_one or pos_B == begin_minus_one or pos_B == end or pos_B == end_plus_one or pos_B == end_minus_one:
                                prova.append([acc_A, index, pos_B, res_A, res_B, al_A, al_B, score])    

                        if accession == acc_B:
                            if pos_A == begin or pos_A == begin_plus_one or pos_A == begin_minus_one or pos_A == end or pos_A == end_plus_one or pos_A == end_minus_one:
                                prova.append([acc_B, index, pos_A, res_A, res_B, al_A, al_B, score])
                            if pos_B == begin or pos_B == begin_plus_one or pos_B == begin_minus_one or pos_B == end or pos_B == end_plus_one or pos_B == end_minus_one:
                                prova.append([acc_B, index, pos_B, res_A, res_B, al_A, al_B, score]) 

        positions_found = pd.DataFrame(prova, columns=['ensembl_accession', 'index', 'position_found', 'residue_A', 'residue_B', 'alignment_A', 'alignment_B', 'score'])

        final_df = pd.merge(df, positions_found, on=['index', 'ensembl_accession']).drop_duplicates()

        # recupero i full protein name di ensembl dal database (proteina in esame e partner)
        database = json.load(open('database.json'))
        orthos = pd.read_table(cwd + '/orthologues/' + kind + '_orthologues.csv', sep=';')
        orthos = list(zip(orthos[orthos['Species'] == 'Homo_sapiens'].values.tolist()[0][3:], orthos[orthos['Species'] == 'Homo_sapiens'].columns.tolist()[3:]))
        orthos = pd.DataFrame(orthos, columns = ['ensembl_accession', 'orthogroup'])
        final_df = pd.merge(final_df, orthos, on=['ensembl_accession', 'orthogroup'])
        orthos['full_name'] = orthos['ensembl_accession'].apply(lambda x: database.get(x)[7] if not database.get(x) == None else x)

        final_df['full_name_ensembl_partner'] = final_df['orthogroup'].apply(lambda x: database.get(
            orthos[orthos['orthogroup'] == re.split('A|B', x)[0] + {'A': 'B', 'B': 'A'}.get(x[-1])].values.tolist()[0][0])[7] if not database.get(
            orthos[orthos['orthogroup'] == re.split('A|B', x)[0] + {'A': 'B', 'B': 'A'}.get(x[-1])].values.tolist()[0][0]) == None else None)

        final_df['full_name_ensembl'] = final_df['orthogroup'].apply(lambda x: database.get(
            orthos[orthos['orthogroup'] == x].values.tolist()[0][0])[7] if not database.get(
            orthos[orthos['orthogroup'] == x].values.tolist()[0][0]) == None else None)

        # ordino la tabella e la salvo in locale
        final_df = final_df.drop(columns=['index', 'b+1', 'b-1', 'e+1', 'e-1']).drop_duplicates()[['orthogroup', 'accession', 'ensembl_accession', 'gene', 'full_protein_name', 'full_name_ensembl', 'full_name_ensembl_partner', 'type', 'category', 'description', 'begin', 'end', 'position_found', 'score', 'residue_A', 'residue_B', 'alignment_A', 'alignment_B', 'EC_number']]
        final_df = final_df[~final_df['category'].str.contains('STRUCTURAL')]
        final_df = final_df[~final_df['category'].str.contains('TOPOLOGY')]

        return final_df

        #uni.filtdf('Convergent', 0)
        
    def types(kind, threshold):

        if threshold:
            df = uni.filtdf(kind, threshold)
        else:
            df = pd.read_table(cwd + '/uniprot/' + kind + '_features.csv', sep=',')
        types = df.groupby('type').count()['accession'].reset_index()
        types = types.rename(columns={'accession': kind})
        u_types = df.drop_duplicates(['type', 'accession'])
        u_types = u_types.groupby('type').count()['accession'].reset_index()
        u_types = u_types.rename(columns={'accession': 'Unique_' + kind.lower()})
        df = pd.merge(types, u_types, on='type')

        return df
    
        #uni.types('Convergent', 0)
        
    def allfeat(threshold):

        p = pd.merge(uni.types('Tandem', threshold), uni.types('Convergent', threshold), on='type', how='outer')
        df = pd.merge(p, uni.types('Divergent', threshold), on='type', how='outer').set_index('type')
        df.index.name = None

        return df

        #uni.allfeat(None)